데이터 불러오기

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

train = pd.read_csv('/Users/js/Desktop/MiniProject/CaloryPJ/data/train.csv')
test = pd.read_csv('/Users/js/Desktop/MiniProject/CaloryPJ/data/test.csv')

In [2]:
train_data = train.copy()
test_data = test.copy()

In [3]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        7500 non-null   object
 1   Exercise_Duration         7500 non-null   float64
 2   Body_Temperature(F)       7500 non-null   float64
 3   BPM                       7500 non-null   float64
 4   Height(Feet)              7500 non-null   float64
 5   Height(Remainder_Inches)  7500 non-null   float64
 6   Weight(lb)                7500 non-null   float64
 7   Weight_Status             7500 non-null   object
 8   Gender                    7500 non-null   object
 9   Age                       7500 non-null   int64
 10  Calories_Burned           7500 non-null   float64
dtypes: float64(7), int64(1), object(3)
memory usage: 644.7+ KB

In [4]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        7500 non-null   object
 1   Exercise_Duration         7500 non-null   float64
 2   Body_Temperature(F)       7500 non-null   float64
 3   BPM                       7500 non-null   float64
 4   Height(Feet)              7500 non-null   float64
 5   Height(Remainder_Inches)  7500 non-null   float64
 6   Weight(lb)                7500 non-null   float64
 7   Weight_Status             7500 non-null   object
 8   Gender                    7500 non-null   object
 9   Age                       7500 non-null   int64
dtypes: float64(6), int64(1), object(3)
memory usage: 586.1+ KB

In [5]:
train_data.isna().sum()

ID                          0
Exercise_Duration           0
Body_Temperature(F)         0
BPM                         0
Height(Feet)                0
Height(Remainder_Inches)    0
Weight(lb)                  0
Weight_Status               0
Gender                      0
Age                         0
Calories_Burned             0
dtype: int64

In [6]:
test_data.isna().sum()

ID                          0
Exercise_Duration           0
Body_Temperature(F)         0
BPM                         0
Height(Feet)                0
Height(Remainder_Inches)    0
Weight(lb)                  0
Weight_Status               0
Gender                      0
Age                         0
dtype: int64

In [7]:
train_data.drop(['ID'], axis=1, inplace=True)
test_data.drop(['ID'], axis=1, inplace=True)

In [8]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Exercise_Duration         7500 non-null   float64
 1   Body_Temperature(F)       7500 non-null   float64
 2   BPM                       7500 non-null   float64
 3   Height(Feet)              7500 non-null   float64
 4   Height(Remainder_Inches)  7500 non-null   float64
 5   Weight(lb)                7500 non-null   float64
 6   Weight_Status             7500 non-null   object
 7   Gender                    7500 non-null   object
 8   Age                       7500 non-null   int64
 9   Calories_Burned           7500 non-null   float64
dtypes: float64(7), int64(1), object(2)
memory usage: 586.1+ KB

In [9]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Exercise_Duration         7500 non-null   float64
 1   Body_Temperature(F)       7500 non-null   float64
 2   BPM                       7500 non-null   float64
 3   Height(Feet)              7500 non-null   float64
 4   Height(Remainder_Inches)  7500 non-null   float64
 5   Weight(lb)                7500 non-null   float64
 6   Weight_Status             7500 non-null   object
 7   Gender                    7500 non-null   object
 8   Age                       7500 non-null   int64
dtypes: float64(6), int64(1), object(2)
memory usage: 527.5+ KB

In [10]:
train_data.describe()

,Exercise_Duration,Body_Temperature(F),BPM,Height(Feet),Height(Remainder_Inches),Weight(lb),Age,Calories_Burned
count,7500.0000,7500.000000,7500.000000,7500.000000,7500.000000,7500.000000,7500.000000,7500.000000
mean,15.5012,104.033573,95.498133,5.248800,5.717600,165.361187,42.636000,89.373467
std,8.3553,1.412845,9.587331,0.556663,3.497315,33.308136,16.883188,62.817086
min,1.0000,98.800000,69.000000,4.000000,0.000000,79.400000,20.000000,1.000000
25%,8.0000,103.300000,88.000000,5.000000,3.000000,138.900000,28.000000,35.000000
50%,15.0000,104.400000,95.000000,5.000000,6.000000,163.100000,39.000000,77.000000
75%,23.0000,105.100000,103.000000,6.000000,9.000000,191.800000,56.000000,138.000000
max,30.0000,106.700000,128.000000,7.000000,12.000000,291.000000,79.000000,300.000000

In [11]:
train_data['Weight_Status'].value_counts()

Normal Weight    4681
Overweight       2614
Obese             205
Name: Weight_Status, dtype: int64

In [12]:
train_data = pd.get_dummies(train_data, columns=['Weight_Status','Gender']) #몸무게 상태, 성별을 one-hot으로 변경

In [13]:
test_data = pd.get_dummies(test_data, columns=['Weight_Status','Gender'])

In [14]:
train_data.head()

,Exercise_Duration,Body_Temperature(F),BPM,Height(Feet),Height(Remainder_Inches),Weight(lb),Age,Calories_Burned,Weight_Status_Normal Weight,Weight_Status_Obese,Weight_Status_Overweight,Gender_F,Gender_M
0,26.0,105.6,107.0,5.0,9.0,154.3,45,166.0,1,0,0,1,0
1,7.0,103.3,88.0,6.0,6.0,224.9,50,33.0,0,0,1,0,1
2,7.0,103.3,86.0,6.0,3.0,218.3,29,23.0,0,0,1,0,1
3,17.0,104.0,99.0,5.0,6.0,147.7,33,91.0,1,0,0,1,0
4,9.0,102.7,88.0,5.0,10.0,169.8,38,32.0,1,0,0,0,1

In [15]:
test_data.head()

,Exercise_Duration,Body_Temperature(F),BPM,Height(Feet),Height(Remainder_Inches),Weight(lb),Age,Weight_Status_Normal Weight,Weight_Status_Obese,Weight_Status_Overweight,Gender_F,Gender_M
0,26.0,105.1,107.0,5.0,1.0,114.6,45,1,0,0,1,0
1,29.0,104.9,111.0,6.0,2.0,198.4,21,0,0,1,0,1
2,11.0,104.0,90.0,5.0,9.0,169.8,58,1,0,0,0,1
3,24.0,105.4,108.0,5.0,12.0,196.2,35,0,0,1,0,1
4,29.0,106.0,116.0,5.0,7.0,147.7,67,1,0,0,1,0

In [17]:
train_data.describe()

,Exercise_Duration,Body_Temperature(F),BPM,Height(Feet),Height(Remainder_Inches),Weight(lb),Age,Calories_Burned,Weight_Status_Normal Weight,Weight_Status_Obese,Weight_Status_Overweight,Gender_F,Gender_M
count,7500.0000,7500.000000,7500.000000,7500.000000,7500.000000,7500.000000,7500.000000,7500.000000,7500.000000,7500.000000,7500.000000,7500.000000,7500.000000
mean,15.5012,104.033573,95.498133,5.248800,5.717600,165.361187,42.636000,89.373467,0.624133,0.027333,0.348533,0.502533,0.497467
std,8.3553,1.412845,9.587331,0.556663,3.497315,33.308136,16.883188,62.817086,0.484378,0.163064,0.476538,0.500027,0.500027
min,1.0000,98.800000,69.000000,4.000000,0.000000,79.400000,20.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.0000,103.300000,88.000000,5.000000,3.000000,138.900000,28.000000,35.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,15.0000,104.400000,95.000000,5.000000,6.000000,163.100000,39.000000,77.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,23.0000,105.100000,103.000000,6.000000,9.000000,191.800000,56.000000,138.000000,1.000000,0.000000,1.000000,1.000000,1.000000
max,30.0000,106.700000,128.000000,7.000000,12.000000,291.000000,79.000000,300.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [18]:
##이상치 제거전에 poly 실행하기위해 calories burned 를 빼놓음
cal = train_data.pop('Calories_Burned')
aa_train = train_data

In [58]:
#이상치 제거
# def remove(df):
#   columns = df.columns
#   df_clean = df.copy()
#   outliers_list=[]
#   for column in columns:
#     q1 = df_clean[column].quantile(0.25)
#     q3 = df_clean[column].quantile(0.75)
#     IQR = q3 - q1
#     lower = q1 - (IQR * 1.5)
#     upper = q3 + (IQR * 1.5)

#     outliers = df_clean[(df_clean[column] < lower) | (df_clean[column] > upper)]
#     outliers_list.append(outliers)
#     df_clean = df_clean[(df_clean[column]>=lower)&(df_clean[column]<=upper)]
  
#   return df_clean , pd.concat(outliers_list)

# re_train, out_train = remove(train_data)

In [19]:
aa_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Exercise_Duration            7500 non-null   float64
 1   Body_Temperature(F)          7500 non-null   float64
 2   BPM                          7500 non-null   float64
 3   Height(Feet)                 7500 non-null   float64
 4   Height(Remainder_Inches)     7500 non-null   float64
 5   Weight(lb)                   7500 non-null   float64
 6   Age                          7500 non-null   int64
 7   Weight_Status_Normal Weight  7500 non-null   uint8
 8   Weight_Status_Obese          7500 non-null   uint8
 9   Weight_Status_Overweight     7500 non-null   uint8
 10  Gender_F                     7500 non-null   uint8
 11  Gender_M                     7500 non-null   uint8
dtypes: float64(6), int64(1), uint8(5)
memory usage: 446.9 KB

In [20]:
# y = re_train.pop('Calories_Burned')
# X = re_train

In [21]:
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test =train_test_split(X, y, test_size=0.2, random_state=42)

In [20]:
from sklearn.preprocessing import MinMaxScaler
mmscaler = MinMaxScaler()

In [21]:
mmscaler.fit(aa_train)

MinMaxScaler()

In [22]:
aa_train = mmscaler.transform(aa_train)

In [23]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures()

In [24]:
X_poly = pd.DataFrame(poly.fit_transform(aa_train))
# X_tpoly = pd.DataFrame(poly.fit_transform(X_test))

In [25]:
X_poly

,0,1,2,3,4,5,6,7,8,9,...,81,82,83,84,85,86,87,88,89,90
0,1.0,0.862069,0.860759,0.644068,0.333333,0.750000,0.353970,0.423729,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1.0,0.206897,0.569620,0.322034,0.666667,0.500000,0.687618,0.508475,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
2,1.0,0.206897,0.569620,0.288136,0.666667,0.250000,0.656427,0.152542,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
3,1.0,0.551724,0.658228,0.508475,0.333333,0.500000,0.322779,0.220339,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,1.0,0.275862,0.493671,0.322034,0.333333,0.833333,0.427221,0.305085,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,1.0,0.724138,0.797468,0.593220,0.000000,0.833333,0.155955,0.932203,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
7496,1.0,0.655172,0.822785,0.593220,0.333333,0.666667,0.322779,0.016949,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
7497,1.0,0.241379,0.544304,0.355932,0.666667,0.166667,0.583176,0.627119,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
7498,1.0,0.379310,0.708861,0.474576,0.333333,0.750000,0.416824,0.254237,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
7499,1.0,0.517241,0.772152,0.372881,0.333333,1.000000,0.520794,0.101695,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0

In [26]:
X_poly['Calories_Burned'] = cal

In [27]:
X_poly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 92 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   0                7500 non-null   float64
 1   1                7500 non-null   float64
 2   2                7500 non-null   float64
 3   3                7500 non-null   float64
 4   4                7500 non-null   float64
 5   5                7500 non-null   float64
 6   6                7500 non-null   float64
 7   7                7500 non-null   float64
 8   8                7500 non-null   float64
 9   9                7500 non-null   float64
 10  10               7500 non-null   float64
 11  11               7500 non-null   float64
 12  12               7500 non-null   float64
 13  13               7500 non-null   float64
 14  14               7500 non-null   float64
 15  15               7500 non-null   float64
 16  16               7500 non-null   float64
 17  17               7500 non-null   float64
 18  18               7500 non-null   float64
 19  19               7500 non-null   float64
 20  20               7500 non-null   float64
 21  21               7500 non-null   float64
 22  22               7500 non-null   float64
 23  23               7500 non-null   float64
 24  24               7500 non-null   float64
 25  25               7500 non-null   float64
 26  26               7500 non-null   float64
 27  27               7500 non-null   float64
 28  28               7500 non-null   float64
 29  29               7500 non-null   float64
 30  30               7500 non-null   float64
 31  31               7500 non-null   float64
 32  32               7500 non-null   float64
 33  33               7500 non-null   float64
 34  34               7500 non-null   float64
 35  35               7500 non-null   float64
 36  36               7500 non-null   float64
 37  37               7500 non-null   float64
 38  38               7500 non-null   float64
 39  39               7500 non-null   float64
 40  40               7500 non-null   float64
 41  41               7500 non-null   float64
 42  42               7500 non-null   float64
 43  43               7500 non-null   float64
 44  44               7500 non-null   float64
 45  45               7500 non-null   float64
 46  46               7500 non-null   float64
 47  47               7500 non-null   float64
 48  48               7500 non-null   float64
 49  49               7500 non-null   float64
 50  50               7500 non-null   float64
 51  51               7500 non-null   float64
 52  52               7500 non-null   float64
 53  53               7500 non-null   float64
 54  54               7500 non-null   float64
 55  55               7500 non-null   float64
 56  56               7500 non-null   float64
 57  57               7500 non-null   float64
 58  58               7500 non-null   float64
 59  59               7500 non-null   float64
 60  60               7500 non-null   float64
 61  61               7500 non-null   float64
 62  62               7500 non-null   float64
 63  63               7500 non-null   float64
 64  64               7500 non-null   float64
 65  65               7500 non-null   float64
 66  66               7500 non-null   float64
 67  67               7500 non-null   float64
 68  68               7500 non-null   float64
 69  69               7500 non-null   float64
 70  70               7500 non-null   float64
 71  71               7500 non-null   float64
 72  72               7500 non-null   float64
 73  73               7500 non-null   float64
 74  74               7500 non-null   float64
 75  75               7500 non-null   float64
 76  76               7500 non-null   float64
 77  77               7500 non-null   float64
 78  78               7500 non-null   float64
 79  79               7500 non-null   float64
 80  80               7500 non-null   float64
 81  81               7500 non-null   float64
 82  82               7500 non-null   float64
 83  83               7500 non-null   float64
 84  84               7500 non-null   float64
 85  85               7500 non-null   float64
 86  86               7500 non-null   float64
 87  87               7500 non-null   float64
 88  88               7500 non-null   float64
 89  89               7500 non-null   float64
 90  90               7500 non-null   float64
 91  Calories_Burned  7500 non-null   float64
dtypes: float64(92)
memory usage: 5.3 MB

In [28]:
#여기서 이상치제거

In [28]:
def remove(df):
  columns = df.columns
  df_clean = df.copy()
  outliers_list=[]
  for column in columns:
    q1 = df_clean[column].quantile(0.25)
    q3 = df_clean[column].quantile(0.75)
    IQR = q3 - q1
    lower = q1 - (IQR * 1.5)
    upper = q3 + (IQR * 1.5)

    outliers = df_clean[(df_clean[column] < lower) | (df_clean[column] > upper)]
    outliers_list.append(outliers)
    df_clean = df_clean[(df_clean[column]>=lower)&(df_clean[column]<=upper)]
  
  return df_clean , pd.concat(outliers_list)

re_train, out_train = remove(X_poly)

In [29]:
re_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2167 entries, 0 to 7496
Data columns (total 92 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   0                2167 non-null   float64
 1   1                2167 non-null   float64
 2   2                2167 non-null   float64
 3   3                2167 non-null   float64
 4   4                2167 non-null   float64
 5   5                2167 non-null   float64
 6   6                2167 non-null   float64
 7   7                2167 non-null   float64
 8   8                2167 non-null   float64
 9   9                2167 non-null   float64
 10  10               2167 non-null   float64
 11  11               2167 non-null   float64
 12  12               2167 non-null   float64
 13  13               2167 non-null   float64
 14  14               2167 non-null   float64
 15  15               2167 non-null   float64
 16  16               2167 non-null   float64
 17  17               2167 non-null   float64
 18  18               2167 non-null   float64
 19  19               2167 non-null   float64
 20  20               2167 non-null   float64
 21  21               2167 non-null   float64
 22  22               2167 non-null   float64
 23  23               2167 non-null   float64
 24  24               2167 non-null   float64
 25  25               2167 non-null   float64
 26  26               2167 non-null   float64
 27  27               2167 non-null   float64
 28  28               2167 non-null   float64
 29  29               2167 non-null   float64
 30  30               2167 non-null   float64
 31  31               2167 non-null   float64
 32  32               2167 non-null   float64
 33  33               2167 non-null   float64
 34  34               2167 non-null   float64
 35  35               2167 non-null   float64
 36  36               2167 non-null   float64
 37  37               2167 non-null   float64
 38  38               2167 non-null   float64
 39  39               2167 non-null   float64
 40  40               2167 non-null   float64
 41  41               2167 non-null   float64
 42  42               2167 non-null   float64
 43  43               2167 non-null   float64
 44  44               2167 non-null   float64
 45  45               2167 non-null   float64
 46  46               2167 non-null   float64
 47  47               2167 non-null   float64
 48  48               2167 non-null   float64
 49  49               2167 non-null   float64
 50  50               2167 non-null   float64
 51  51               2167 non-null   float64
 52  52               2167 non-null   float64
 53  53               2167 non-null   float64
 54  54               2167 non-null   float64
 55  55               2167 non-null   float64
 56  56               2167 non-null   float64
 57  57               2167 non-null   float64
 58  58               2167 non-null   float64
 59  59               2167 non-null   float64
 60  60               2167 non-null   float64
 61  61               2167 non-null   float64
 62  62               2167 non-null   float64
 63  63               2167 non-null   float64
 64  64               2167 non-null   float64
 65  65               2167 non-null   float64
 66  66               2167 non-null   float64
 67  67               2167 non-null   float64
 68  68               2167 non-null   float64
 69  69               2167 non-null   float64
 70  70               2167 non-null   float64
 71  71               2167 non-null   float64
 72  72               2167 non-null   float64
 73  73               2167 non-null   float64
 74  74               2167 non-null   float64
 75  75               2167 non-null   float64
 76  76               2167 non-null   float64
 77  77               2167 non-null   float64
 78  78               2167 non-null   float64
 79  79               2167 non-null   float64
 80  80               2167 non-null   float64
 81  81               2167 non-null   float64
 82  82               2167 non-null   float64
 83  83               2167 non-null   float64
 84  84               2167 non-null   float64
 85  85               2167 non-null   float64
 86  86               2167 non-null   float64
 87  87               2167 non-null   float64
 88  88               2167 non-null   float64
 89  89               2167 non-null   float64
 90  90               2167 non-null   float64
 91  Calories_Burned  2167 non-null   float64
dtypes: float64(92)
memory usage: 1.5 MB

In [30]:
y = re_train.pop('Calories_Burned')
X = re_train

In [31]:
X

,0,1,2,3,4,5,6,7,8,9,...,81,82,83,84,85,86,87,88,89,90
0,1.0,0.862069,0.860759,0.644068,0.333333,0.750000,0.353970,0.423729,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1.0,0.551724,0.658228,0.508475,0.333333,0.500000,0.322779,0.220339,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
7,1.0,0.448276,0.721519,0.508475,0.333333,0.333333,0.239603,0.508475,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
8,1.0,0.896552,0.822785,0.661017,0.333333,0.416667,0.281191,0.220339,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9,1.0,0.206897,0.493671,0.237288,0.333333,0.416667,0.250000,0.559322,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7477,1.0,0.827586,0.822785,0.593220,0.333333,0.250000,0.208412,0.118644,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
7481,1.0,0.655172,0.835443,0.389831,0.333333,0.333333,0.218809,0.101695,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
7486,1.0,0.344828,0.632911,0.474576,0.333333,0.750000,0.353970,0.135593,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
7492,1.0,0.344828,0.594937,0.440678,0.333333,0.833333,0.385161,0.305085,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
7496,1.0,0.655172,0.822785,0.593220,0.333333,0.666667,0.322779,0.016949,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [32]:
y

0       166.0
3        91.0
7        81.0
8       172.0
9        29.0
        ...
7477    149.0
7481     93.0
7486     55.0
7492     54.0
7496    114.0
Name: Calories_Burned, Length: 2167, dtype: float64

In [33]:
from sklearn.model_selection import train_test_split

X_train1, X_test1, y_train, y_test = train_test_split(X, y, random_state=42)

In [34]:
# from sklearn.tree import DecisionTreeRegressor
# model = DecisionTreeRegressor(random_state=42)

In [35]:
# model.fit(X_train1,y_train)

DecisionTreeRegressor(random_state=42)

In [44]:
#xgboost사용
from xgboost import XGBRegressor

xgb_model = XGBRegressor()
xgb_model.fit(X_train1, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)

In [45]:
pred = xgb_model.predict(X_test1)

In [46]:
from sklearn.metrics import mean_squared_error
RMSE = mean_squared_error(y_test, pred)
np.sqrt(RMSE)

1.552719519607272

In [77]:
# submission = pd.read_csv('/Users/js/Desktop/MiniProject/CaloryPJ/data/sample_submission.csv')
# submission['Calories_Burned'] = pred
# submission.to_csv('./submit2.csv', index=False)

In [47]:
test_poly = pd.DataFrame(poly.fit_transform(test_data))

In [48]:
test_poly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 91 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       7500 non-null   float64
 1   1       7500 non-null   float64
 2   2       7500 non-null   float64
 3   3       7500 non-null   float64
 4   4       7500 non-null   float64
 5   5       7500 non-null   float64
 6   6       7500 non-null   float64
 7   7       7500 non-null   float64
 8   8       7500 non-null   float64
 9   9       7500 non-null   float64
 10  10      7500 non-null   float64
 11  11      7500 non-null   float64
 12  12      7500 non-null   float64
 13  13      7500 non-null   float64
 14  14      7500 non-null   float64
 15  15      7500 non-null   float64
 16  16      7500 non-null   float64
 17  17      7500 non-null   float64
 18  18      7500 non-null   float64
 19  19      7500 non-null   float64
 20  20      7500 non-null   float64
 21  21      7500 non-null   float64
 22  22      7500 non-null   float64
 23  23      7500 non-null   float64
 24  24      7500 non-null   float64
 25  25      7500 non-null   float64
 26  26      7500 non-null   float64
 27  27      7500 non-null   float64
 28  28      7500 non-null   float64
 29  29      7500 non-null   float64
 30  30      7500 non-null   float64
 31  31      7500 non-null   float64
 32  32      7500 non-null   float64
 33  33      7500 non-null   float64
 34  34      7500 non-null   float64
 35  35      7500 non-null   float64
 36  36      7500 non-null   float64
 37  37      7500 non-null   float64
 38  38      7500 non-null   float64
 39  39      7500 non-null   float64
 40  40      7500 non-null   float64
 41  41      7500 non-null   float64
 42  42      7500 non-null   float64
 43  43      7500 non-null   float64
 44  44      7500 non-null   float64
 45  45      7500 non-null   float64
 46  46      7500 non-null   float64
 47  47      7500 non-null   float64
 48  48      7500 non-null   float64
 49  49      7500 non-null   float64
 50  50      7500 non-null   float64
 51  51      7500 non-null   float64
 52  52      7500 non-null   float64
 53  53      7500 non-null   float64
 54  54      7500 non-null   float64
 55  55      7500 non-null   float64
 56  56      7500 non-null   float64
 57  57      7500 non-null   float64
 58  58      7500 non-null   float64
 59  59      7500 non-null   float64
 60  60      7500 non-null   float64
 61  61      7500 non-null   float64
 62  62      7500 non-null   float64
 63  63      7500 non-null   float64
 64  64      7500 non-null   float64
 65  65      7500 non-null   float64
 66  66      7500 non-null   float64
 67  67      7500 non-null   float64
 68  68      7500 non-null   float64
 69  69      7500 non-null   float64
 70  70      7500 non-null   float64
 71  71      7500 non-null   float64
 72  72      7500 non-null   float64
 73  73      7500 non-null   float64
 74  74      7500 non-null   float64
 75  75      7500 non-null   float64
 76  76      7500 non-null   float64
 77  77      7500 non-null   float64
 78  78      7500 non-null   float64
 79  79      7500 non-null   float64
 80  80      7500 non-null   float64
 81  81      7500 non-null   float64
 82  82      7500 non-null   float64
 83  83      7500 non-null   float64
 84  84      7500 non-null   float64
 85  85      7500 non-null   float64
 86  86      7500 non-null   float64
 87  87      7500 non-null   float64
 88  88      7500 non-null   float64
 89  89      7500 non-null   float64
 90  90      7500 non-null   float64
dtypes: float64(91)
memory usage: 5.2 MB

In [49]:
test_pred = xgb_model.predict(test_poly)

In [50]:
submission = pd.read_csv('/Users/js/Desktop/MiniProject/CaloryPJ/data/sample_submission.csv')
submission['Calories_Burned'] = test_pred
submission.to_csv('./submit3.csv', index=False)